/*

Author: Yazad Jamshed Davur <yazadjd@yahoo.com>

This CSS component describes the presentation of different elements present in
the HTML component file.

*/

@import "~bootstrap/dist/css/bootstrap.css";

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.row{
  margin-top: 15px;
}
.alert{
  margin-top: 20px;
}
.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}
